<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Success</title>
</head>
<body>
<h1>Login Success</h1>
<div>
    <img th:src="${session.userProfileImage}" alt="Profile Image">
    <p>Welcome, <span th:text="${session.userNickname}"></span></p>
    <p>Email: <span th:text="${session.userEmail}"></span></p>
    <p>Name: <span th:text="${session.userName}"></span></p>
    <p>Gender: <span th:text="${session.userGender}"></span></p>
    <p>Age Range: <span th:text="${session.userAgeRange}"></span></p>
    <p>IdNumber <span th:text="${session.userId}"></span></p>
</div>
</body>
</html>
